{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<main id="main">

<div class="white_shd full margin_bottom_30">
    <div class="full graph_head">
        <div class="heading1 margin_0">
              {% if not same_obj %}

                <h2>¡Felicidades!</h2>
                    <p class="mb-0">
                        La micro-red "{{new_obj}}" se ha creado con éxito.
                    </p>
                <p>Regrese a la página con todas las micro-redes y seleccione su micro-red de la lista.</p>

              {% else %}
                <h2>¡Esta micro-red ya existe!</h2>
              {% endif %}



        </div>

            <div class="row">
              <div class="col-md-6  mt-40" data-aos="fade-up">
                <div class="button_block">
                    <a href="{% url 'mainapp:organisation' %}" type="submit" class="btn cur-p btn-outline-secondary">Micro-redes</a>
                </div>
              </div>
            </div>
  </div>
</div>
</main>

{% endblock %}